*{
    margin: 0;
    padding: 0;
}

h2{
    color: chocolate;
    font-style: italic;
    font-weight: lighter;
    text-decoration:overline;
    font-size: 80px;
    text-align: center;

}
#heading{
    background-color: rgb(12, 4, 12);
    height: 600px;
    padding: 200px ;
    width: 600px;
    margin: auto;
}

